.site-main__service{
    padding-top: 86px;
    padding-bottom: 190px;
    background: #e5e5e540 url("../../../assets/images/service-bg.png") no-repeat center 100%;
}

.main-service__container{
    overflow: hidden;
}

.main-service__help{
    margin-bottom: 110px;
}

.service-help__title{
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 400;
}

.service-help__cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -50px;
}

.service-help__card{
    flex-shrink: 1;
    width: 100%;
    max-width: 350px;
    margin-left: 50px;
    padding: 50px 35px;
    box-shadow: 0px 86px 114px rgba(124, 20, 253, 0.14);
    border-radius: 50px;
    background: #FAF6FF;
    border: 2px solid #FFFFFF;
    text-align: center;
    color: #7c14fd;
}

.service-help__card-move{
    margin-top: 80px;
}

.service-help__card h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
}

.service-help__card p{
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
}


.service-clients__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: -100px;
}

.service-clients__item{
    margin-left: 100px;
    text-align: center;
}


@media only screen and (max-width:1440px){
    .service-help__card{
        max-width: 275px;
        padding: 35px 30px;
    }

    .service-help__card p{
        margin-bottom: 20px;
    }

    .service-help__card:nth-child(1) img{
        width: 91px;
        height: 91px;
    }
    .service-help__card:nth-child(2) img{
        width: 115px;
        height: 117px;
    }
    .service-help__card:nth-child(3) img{
        width: 110px;
        height: 99px;
    }
    .service-help__card:nth-child(4) img{
        width: 115px;
        height: 117px;
    }
}

@media only screen and (max-width: 1250px){
    .service-help__cards {
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -25px;
        margin-bottom: -25px;
    }

    .service-help__card {
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .service-help__card-move{
        margin-top: 0;
    }

    .service-clients__list{
        margin-left: -50px;
    }

    .service-clients__item{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 800px){
    .service-help__title{
        font-size: 19.8958px;
        line-height: 119.7%;
    }

    .main-service__clients .service-help__title{
        margin-bottom: 25px;
    }

    .service-clients__list{
        margin-left: 0;
        width: 1400px;
    }

    .service-clients__item{
        margin-left: 0;
        padding: 15px 30px;
        width: 25%;
    }

    .service-help__card{
        max-width: 135px;
        width: 100%;
        padding: 19px 13px;
        border-radius: 19.1306px;
    }

    .service-help__card h3{
        font-size: 9.56531px;
        line-height: 162.7%;
    }

    .service-help__card p{
        font-size: 6.88702px;
        line-height: 162.7%;
    }

    .service-help__card:nth-child(2),.service-help__card:nth-child(3){
        margin-top: 30px;
    }
    .service-help__card:nth-child(1) img{
        width: 44px;
        height: 44px;
    }
    .service-help__card:nth-child(2) img{
        width: 56px;
        height: 57px;
    }
    .service-help__card:nth-child(3) img{
        width: 53px;
        height: 48px;
    }
    .service-help__card:nth-child(4) img{
        width: 56px;
        height: 57px;
    }
    .service-clients__list{
        width: unset;
    }

    .site-main__service{
        padding: 10px 0;
    }
}

@media only screen and (max-width: 699px){
    .site-main__service{
        padding-top: 30px;
    }

    .service-help__title{
        font-size: 48px;
        line-height: 119.7%;
    }

    .service-help__cards{
        align-items: unset;
    }

    .service-help__card{
        max-width: 275px;
        width: 100%;
        box-shadow: 0px 0px 100px rgba(124, 20, 253, 0.2);
        border-radius: 50px;
    }

    .service-help__card:nth-child(2),.service-help__card:nth-child(3){
        margin-top: 0px;
    }
    .service-help__card:nth-child(1) img{
        width: 91px;
        height: 91px;
    }
    .service-help__card:nth-child(2) img{
        width: 115px;
        height: 117px;
    }
    .service-help__card:nth-child(3) img{
        width: 110px;
        height: 99px;
    }
    .service-help__card:nth-child(4) img{
        width: 115px;
        height: 117px;
    }
    .service-help__card h3{
        font-size: 25px;
        line-height: 162.7%;
    }

    .service-help__card p{
        font-size: 18px;
        line-height: 162.7%;
    }

    .service-clients__list{
        width: 1400px;
    }
}

@media only screen and (max-width: 374px) {
    .service-help__title{
        font-size: 32.1px;
        line-height: 119.7%;
        margin-bottom: 40px;
    }

    .service-help__card{
        max-width: 185px;
        padding: 25px 18px;
    }

    .service-help__card h3{
        font-size: 16.7187px;
        line-height: 162.7%;
    }

    .service-help__card p{
        font-size: 12.0375px;
        line-height: 162.7%;
        margin-bottom: 10px;
    }

    .service-help__card:nth-child(1) img{
        width: 60px;
        height: 60px;
    }
    .service-help__card:nth-child(2) img{
        width: 77px;
        height: 78px;
    }
    .service-help__card:nth-child(3) img{
        width: 74px;
        height: 66px;
    }
    .service-help__card:nth-child(4) img{
        width: 77px;
        height: 78px;
    }
}