.site-main__contact{
    padding-top: 160px;
    padding-bottom: 215px;
    background: #B070FF url("../../../assets/images/contact-bg.png");
}

.contact__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.contact__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    max-width: 600px;
    font-weight: 400;
    font-size: 64px;
    line-height: 128.3%;
}

.contact__title::before{
    content: "";
    height: 6px;
    width: 125px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.31) 123.02%);
    border-radius: 1000px;
    margin-bottom: 45px;
    transform: translateX(-80%);
}

.contact__form{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    max-width: 610px;
    width: 100%;
    text-align: center;
}

.contact__form h3{
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 50px;
    line-height: 119.7%;
}

.contact__form input{
    width: 100%;
    border-radius: 1000px;
    padding: 25px 40px;
    border: none;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 28px;
}

.contact__form input::placeholder{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.5;
}

.contact__form button{
    text-align: center;
    padding: 25px 40px;
    background: #32046B;
    box-shadow: 0px 41px 51px rgba(118, 82, 164, 0.39);
    border-radius: 1000px;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    border: none;
    outline: none;
}

@media only screen and (max-width:1250px) {
    .contact__title{
        font-size: 45px;
        line-height: 128.3%;
    }

    .contact__form h3{
        font-size: 40px;
        line-height: 119.7%;
    }
}

@media only screen and (max-width:800px) {
    .site-main__contact{
        padding-top: 67px;
        padding-bottom: 90px;
    }

    .contact__title{
        width: 251px;
        font-size: 26.6667px;
        line-height: 128.3%;
        margin-right: 25px;
    }

    .contact__title::before{
        width: 52px;
        height: 2.5px;
        transform: translateX(-70%);
        margin-bottom: 20px;
    }

    .contact__form{
        max-width: 253px;
        width: 100%;
    }

    .contact__form h3{
        font-size: 20.8333px;
        line-height: 119.7%;
        margin-bottom: 20px;
    }

    .contact__form input{
        padding: 10px 15px;
        font-size: 9.16667px;
        line-height: 12px;
        margin-bottom: 8px;
    }

    .contact__form input::placeholder{
        font-size: 9.16667px;
        line-height: 12px;
    }

    .contact__form button{
        padding: 10px 15px;
        font-size: 10px;
        line-height: 13px;
    }
}

@media only screen and (max-width:699px) {
    .contact__container{
        padding-top: 44px;
        padding-bottom: 73px;
        flex-direction: column;
        text-align: center;
    }

    .contact__title{
        width: unset;
        flex-direction: column-reverse;
        margin-right: 0;
        margin-bottom: 44px;
        font-size: 36px;
        line-height: 128.3%;
    }

    .contact__title::before{
        width: 125px;
        height: 6px;
        margin-top: 30px;
        transform: none;
    }

    .contact__form{
        max-width: 100%;
    }

    .contact__form h3{
        font-size: 48px;
        line-height: 119.7%;
        margin-bottom: 44px;
    }

    .contact__form input{
        padding: 25px;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .contact__form input::placeholder{
        font-size: 22px;
        line-height: 26px;
    }

    .contact__form button{
        padding: 25px;
        font-size: 24px;
        line-height: 31px;
    }
}