.site-main__team{
    position: relative;
    z-index: 1;
    top: 200px;
    padding-top: 55px;
    padding-bottom: 250px;
    background: #e5e5e540 url("../../../assets/images/team-bg.png") no-repeat 0;
    background-size: cover;
}

.team__container{
    max-width: 1430px;
}

.team__title{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 52px;
    line-height: 115.7%;
    text-align: right;
}

.team__desc{
    margin-top: 0;
    margin-bottom: 195px;
    font-weight: 400;
    font-size: 24px;
    line-height: 119.7%;
    color: #7C14FD;
    text-align: right;
}

.team__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    margin-left: -50px;
    margin-bottom: -150px;
    padding: 0;
}

.team__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 435px;
    margin-left: 50px;
    margin-bottom: 150px;
    background: #FAF6FF;
    border: 2px solid #fff;
    box-shadow: 0px 30px 114px rgba(124, 20, 253, 0.14);
    border-radius: 50px;
    padding: 170px 40px 40px;
    text-align: center;
}

.team__item .img-wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 185px;
    height: 185px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    border: 8px solid #b070ff;
}

.img-wrapper img{
    border-radius: 100%;
}

.team__item-name{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 20px;
}

.team__item-job{
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.8;
}

.team__item-address{
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #B070FF;
    opacity: 0.8;
}

.team__item-connect{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 45px 12px 23px;
    text-decoration: none;
    font-size: 19px;
    line-height: 30px;
    color: #fff;
    background: #7c14fd;
    border-radius: 15px;
    margin-top: auto;
}

.team__item-connect::after{
    content: "";
    width: 12px;
    height: 12px;
    background: url("../../../assets/images/arrow-right-wight.png") no-repeat center;
    margin-left: 10px;
}

@media only screen and (max-width: 1440px) {
    .team__list{
        margin-left: -45px;
        margin-bottom: -210px;
    }

    .team__item{
        max-width: 400px;
        width: 100%;
        margin-left: 45px;
        margin-bottom: 210px;
    }

    .img-wrapper{
        width: 170px;
        height: 170px;
    }
}

@media only screen and (max-width: 800px) {

    .team__container{
        max-width: 640px;
    }

    .site-main__team{
        padding-top: 23px;
    }

    .team__title{
        font-size: 21.4905px;
        line-height: 115.7%;    
    }

    .team__desc{
        font-size: 9.9187px;
        line-height: 119.7%;
        margin-bottom: 80px;
    }

    .team__list{
        margin-left: -20px;
        margin-bottom: -95px;
    }

    .team__item{
        max-width: 180px;
        width: 100%;
        padding: 70px 15px 15px;
        border-radius: 20.664px;
        margin-left: 20px;
        margin-bottom: 95px;
    }

    .team__item .img-wrapper{
        width: 76px;
        height: 76px;
    }

    .team__item-name{
        font-size: 13.2249px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .team__item-job{
        font-size: 8.26558px;
        line-height: 12px;
        margin-bottom: 6px;
    }

    .team__item-address{
        font-size: 8.26558px;
        line-height: 12px;
        margin-bottom: 27px;
    }

    .team__item-connect{
        font-size: 7.8523px;
        line-height: 12px;
        border-radius: 6.19919px;
        padding: 5px 18px 5px 9px;
    }

    .team__item-connect::after{
        width: 5px;
        height: 5px;
        background-size: cover;
    }

    /* .team__list{
        margin-bottom: -100px;
    }

    .team__item{
        max-width: 300px;
        padding: 70px 25px 25px;
        margin-bottom: 100px;
    }

    .team__item .img-wrapper{
        width: 120px;
        height: 120px;
    } */
}

@media only screen and (max-width: 699px) {
    .site-main__team{
        padding-top: 100px;
    }
    
    .team__title{
        text-align: center;
        font-size: 40px;
        line-height: 115.7%;
    }
    .team__desc {
        font-size: 22px;
        line-height: 119.7%;
        text-align: center;
    }

    .team__list{
        margin-bottom: -110px;
    }

    .team__item{
        margin-bottom: 110px;
        padding: 130px 30px 30px;
        max-width: 335px;
    }

    .team__item .img-wrapper{
        width: 141px;
        height: 141px;
    }

    .team__item-name{
        margin-bottom: 15px;
        font-size: 26.8376px;
        line-height: 32px;
    }
    .team__item-job{
        margin-bottom: 11px;
        font-size: 16.7735px;
        line-height: 23px;
    }
    .team__item-address{
        font-size: 16.7735px;
        line-height: 23px;
        margin-bottom: 48px;
    }

    .team__item-connect{
        padding: 10px 18px;
        font-size: 15.9348px;
        line-height: 25px;
    }

    .team__item-connect::after{
        width: 8px;
        height: 8px;
        background-size: contain;
    }
}

@media only screen and (max-width: 374px) {
    .site-main__team{
        padding-top: 60px;
    }

    .team__title{
        font-size: 26.75px;
        line-height: 115.7%;
        margin-bottom: 6px;
    }

    .team__desc{
        font-size: 14.7125px;
        line-height: 119.7%;
        margin-bottom: 67px;
    }

    .team__list{
        margin-bottom: -74px;
    }

    .team__item{
        margin-bottom: 74px;
        padding: 87px 20px 20px;
        max-width: 225px;
    }

    .team__item .img-wrapper{
        width: 94px;
        height: 94px;
    }

    .team__item-name{
        font-size: 17.9476px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .team__item-job{
        font-size: 11.2173px;
        line-height: 16px;
        margin-bottom: 7px;
    }
    .team__item-address{
        font-size: 11.2173px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    .team__item-connect{
        font-size: 10.6564px;
        line-height: 17px;
        padding: 5px 12px;
    }
}