.site-main__work{
    padding-top: 170px;
    padding-bottom: 100px;
    background: #e5e5e540 url("../../../assets/images/work-bg.png");
}

.work__title{
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 52px;
    line-height: 137.2%;
}

.work__title::before{
    position: absolute;
    content: "";
    height: 80px;
    width: 185px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateY(50%) translateX(-120%);
}

.work__title::after{
    position: absolute;
    content: "";
    height: 80px;
    width: 185px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateY(50%) translateX(20%);
}

