.site-main__work{
    padding-top: 170px;
    padding-bottom: 100px;
    background: #e5e5e540 url("../../../assets/images/work-bg.png");
}

.work__container{
    overflow: hidden;
}

.work__title{
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 55px;
    font-weight: 400;
    font-size: 52px;
    line-height: 137.2%;
}

.work__title::before{
    position: absolute;
    content: "";
    height: 80px;
    width: 185px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateY(50%) translateX(-120%);
}

.work__title::after{
    position: absolute;
    content: "";
    height: 80px;
    width: 185px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateY(50%) translateX(20%);
}

.work__container .work__controllers{
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(50%);
}

.work__controllers{
    display: flex;
    justify-content: center;    
}

.work__container .work__controllers-wrapper{
    transform: translateX(-50%);
}

.work__controllers-wrapper{
    margin-left: -20px;
    margin-right: auto;
    display: inline-flex;
    align-items: center;    
}

.work__controllers-wrapper button{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #8D3AF3;
    border: none;
    outline: none;
    margin-left: 20px;
}

.work__controllers-wrapper button.active-button{
    width: 24px;
    height: 24px;
}

.work__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
}

.work__cards-sm{
    display: none;
}

.work__controllers-button{
    display: flex;
    align-items: center;
    padding: 24px;
    background: #7C14FD;
    box-shadow: 0px 26px 46px rgba(124, 20, 253, 0.35);
    border-radius: 20px;
    text-decoration: none;
    font-size: 19px;
    line-height: 30px;
    color: #fff;
}

.work__controllers-button::after{
    content: "";
    width: 12px;
    height: 12px;
    background: url("../../../assets/images/arrow-right-wight.png") no-repeat center;
    margin-left: 8px;
}

@media only screen and (max-width: 1240px){
    .work__container .work__controllers{
        transform: none;
    }

    .work__container .work__controllers-wrapper{
        transform: none;
        margin-right: 25px;
    }
}

@media only screen and (max-width: 800px){

    .site-main__work{
        padding-top: 87px;
    }

    .work__title{
        font-size: 21.6667px;
        line-height: 137.2%;
    }

    .work__title::before, .work__title::after{
        width: 77px;
        height: 32px;
    }

    .work__cards{
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .work__container .work__controllers{
        transform: translateX(30%);
    }

    .work__container .work__controllers-wrapper{
        margin-left: -8px;
        transform: translateX(-200%);
    }

    .work__controllers-wrapper button{
        padding: 0;
        width: 5px;
        height: 5px;
        margin-left: 8px;
    }

    .work__controllers-wrapper button.active-button{
        width: 10px;
        height: 10px;
    }

    .work__controllers-button{
        padding: 10px;
        font-size: 7.91667px;
        line-height: 12px;
        border-radius: 8.33333px;
    }

    .work__controllers-button::after{
        width: 5px;
        height: 5px;
        background-size: cover;
    }
}

@media only screen and (max-width: 699px){

    .work__title{
        font-size: 48px;
        line-height: 137.2%;
    }

    .work__title::before{
        display: none;
    }

    .work__title::after{
        border: none;
        width: 80px;
        height: 3px;
        background: linear-gradient(89.99deg, #7C14FD 1.09%, rgba(124, 20, 253, 0.29) 99.99%);
        border-radius: 1000px;
        transform: none;
        bottom: -20%;
        left: 40%;
    }

    .work__cards{
        display: none;
    }

    .work__cards-sm{
        display: flex;
    }
    .work__container .work__controllers{
        transform: none;
    }
    .work__container .work__controllers-wrapper{
        transform: none;
        margin-left: -21px;
        margin-right: 0;
    }

    .work__controllers-wrapper button{
        width: 12px;
        height: 12px;
        margin-left: 21px;
    }

    .work__controllers-wrapper button.active-button{
        width: 24px;
        height: 24px;
    }

    .work__controllers-button{
        display: none;
    }
}