.site-main__projects{
    padding-top: 230px;
    background: url("../../../assets/images/projects-bg.png") no-repeat;
}

.site-main__projects .service-help__title{
    margin-bottom: 125px;
}

.projects__container{
    max-width: 1440px;
}

.projects__list{
    margin-bottom: 60px;
}

.projects__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projects__item-img{
    flex-shrink: 1;
}

.projects__item-card{
    margin-right: 25px;
    padding: 45px 60px;
    width: 480px;
    background: #faf6ff;
    border: 2px solid #fff;
    box-shadow: 0px 86px 114px rgba(124, 20, 253, 0.14);
    border-radius: 50px;
}

.media{
    display: flex;
    align-items: center;
}

.media img{
    width: 54px;
    margin-right: 20px;
}

.media h3{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 27px;
    line-height: 162.7%;
    color: #913BF8;
}

.media p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 118.2%;
    color: #913BF8;
}

.projects__item-card-body{
    font-weight: 400;
    font-size: 22px;
    line-height: 162.7%;
    text-align: justify;
}

.work__controllers-button-left{
    padding: 24px 30px;
    background: #7C14FD;
    box-shadow: 0px 26px 46px rgba(124, 20, 253, 0.35);
    border-radius: 20px;
    text-align: center;
    max-width: 480px;
    width: 100%;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    display: inline-block;
}

.projects__container .work__controllers-wrapper{
    transform: translateX(100%);
}

@media only screen and (max-width: 1300px){
    .projects__item{
        flex-direction: column;
    }

    .projects__item-card{
        max-width: 600px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }

    .site-main__projects .service-help__title{
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 800px){
    .site-main__projects{
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .projects__item{
        flex-direction: row;
    }

    .projects__item-card{
        max-width: 200px;
        width: 100%;
        padding: 20px 25px;
        margin-right: 25px;
        box-shadow: 0px 35.8333px 47.5px rgba(124, 20, 253, 0.14);
        border-radius: 20.8333px;
    }

    .projects__container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .projects__item-img{
        max-width: 333px;
    }

    .media img{
        width: 22px;
        margin-right: 8px;
    }

    .media h3{
        font-size: 11.25px;
        line-height: 162.7%;
    }
    
    .media p{
        font-size: 8.33333px;
        line-height: 118.2%;
    }

    .projects__item-card-body{
        font-size: 9.16667px;
        line-height: 162.7%;
    }

    .work__controllers-button-left{
        padding: 10px 25px;
        max-width: 200px;
        width: 100%;
        font-size: 10px;
        line-height: 13px;
        box-shadow: 0px 10.8333px 19.1667px rgba(124, 20, 253, 0.35);
        border-radius: 8.33333px;
    }
}

@media only screen and (max-width: 699px){
    .site-main__projects{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .projects__list{
        max-width: 100%;
        margin-bottom: 25px;
    }

    .projects__item{
        flex-direction: column;
    }

    .projects__item-card{
        padding: 26px 23px;
        max-width: 100%;
        box-shadow: 0px 23.0134px 90.4665px rgba(124, 20, 253, 0.35);
        border-radius: 39.6783px;
    }

    .media img{
        width: 42px;
        margin-right: 15px;
    }

    .media h3{
        font-size: 21.4263px;
        line-height: 162.7%;
    }

    .media p{
        font-size: 15.8713px;
        line-height: 118.2%;
    }

    .projects__item-card-body{
        font-size: 17.4584px;
        line-height: 162.7%;
    }

    .projects__item-img{
        max-width: 100%;
    }

    .projects__container .work__controllers{
        flex-direction: column-reverse;
        align-items: center;
    }

    .projects__container .work__controllers-wrapper{
        margin-right: 0;
        transform: none;
        margin-bottom: 20px;
    }

    .work__controllers-button-left{
        font-size: 18.6286px;
        line-height: 24px;
        padding: 18px 25px;
        max-width: 100%;
        text-decoration: none;
    }
}


@media only screen and (max-width: 600px){

    .site-main__projects{
        padding-top: 50px;
    }

    .projects__item-card{
        padding: 25px;
    }

    .media h3{
        font-size: 22px;
        line-height: 162.7%;
    }
    
    .media p{
        font-size: 16px;
        line-height: 118.2%;
    }
    
    .projects__item-card-body{
        font-size: 18px;
        line-height: 162.7%;
    }
}

@media only screen and (max-width: 374px) {
    .projects__container{
        max-width: 285px;
    }

    .site-main__projects .service-help__title{
        margin-bottom: 20px;
        font-size: 28.1579px;
        line-height: 115.7%;
    }

    .projects__item-card{
        padding: 18px;
        box-shadow: 0px 16.1642px 63.5419px rgba(124, 20, 253, 0.35);
        border-radius: 27.8693px;
    }

    .media img{
        width: 30px;
        margin-right: 10px;
    }

    .media h3{
        font-size: 15.0494px;
        line-height: 162.7%;
    }

    .media p{
        font-size: 11.1477px;
        line-height: 118.2%;
    }

    .projects__item-card-body{
        font-size: 12.2625px;
        line-height: 162.7%;
    }

    .work__controllers-button-left{
        padding: 13px 15px;
        font-size: 13.0844px;
        line-height: 17px;
    }
}