.site-main__projects{
    padding-top: 230px;
    background: url("../../../assets/images/projects-bg.png") no-repeat,
}

.site-main__projects .service-help__title{
    margin-bottom: 125px;
}

.projects__container{
    max-width: 1440px;
}

.projects__list{
    margin-bottom: 60px;
}

.projects__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.projects__item-img{
    flex-shrink: 1;
}

.projects__item-card{
    margin-right: 25px;
    padding: 45px 60px;
    width: 480px;
    background: #faf6ff;
    border: 2px solid #fff;
    box-shadow: 0px 86px 114px rgba(124, 20, 253, 0.14);
    border-radius: 50px;
}

.media{
    display: flex;
    align-items: center;
}

.media img{
    width: 54px;
    margin-right: 20px;
}

.media h3{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 27px;
    line-height: 162.7%;
    color: #913BF8;
}

.media p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 118.2%;
    color: #913BF8;
}

.projects__item-card-body{
    font-weight: 400;
    font-size: 22px;
    line-height: 162.7%;
    text-align: justify;
}

.work__controllers-button-left{
    padding: 24px 30px;
    background: #7C14FD;
    box-shadow: 0px 26px 46px rgba(124, 20, 253, 0.35);
    border-radius: 20px;
    text-align: center;
    max-width: 480px;
    width: 100%;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    display: inline-block;
}

.projects__container .work__controllers-wrapper{
    transform: translateX(100%);
}

@media only screen and (max-width: 1300px){
    .projects__item{
        flex-direction: column;
    }

    .projects__item-card{
        max-width: 600px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }

    .site-main__projects .service-help__title{
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px){

    .site-main__projects{
        padding-top: 50px;
    }

    .projects__item-card{
        padding: 25px;
    }

    .media h3{
        font-size: 22px;
        line-height: 162.7%;
    }
    
    .media p{
        font-size: 16px;
        line-height: 118.2%;
    }
    
    .projects__item-card-body{
        font-size: 18px;
        line-height: 162.7%;
    }
}