@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.woff2") format("woff2"),
      url("./assets/fonts/Abel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Actor";
  src: url("./assets/fonts/Actor-Regular.woff2") format("woff2"),
      url("./assets/fonts/Actor-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Actor", "Arial", sans-serif;
  background-color: #e5e5e5;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1800px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
}

a:hover{
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}